

html {
    box-sizing: border-box;
    font-size: $base-font-size;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $black;
    color: $bodyColor;
    text-rendering: optimizeLegibility;
    font-family: $bodyFont;
}

#outerWrap {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

        @media screen and (max-width: 800px) {
            width: 100%;
            padding: 0 $base-spacing-unit;
        }
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
    margin: 0 0 $base-spacing-unit;
}